<a href="https://colab.research.google.com/github/S-hivamgautam/Assignment1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
# i. WAP to add 200 and 300 to L.
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [2]:
# ii. WAP to remove 10 and 30 from L
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

In [3]:
# iii. WAP to sort L in ascending order
L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

In [4]:
# iv. WAP to sort L in descending order.
L.sort(reverse=True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

In [5]:
# 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:
# i. Identify the highest score and its index in the tuple.
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest_score = max(scores)
index_of_highest = scores.index(highest_score)
print(f"The highest score is {highest_score} at index {index_of_highest}.")

The highest score is 92 at index 5.

In [6]:
# ii. Find the lowest score and count how many times it appears.
lowest_score = min(scores)
count_of_lowest = scores.count(lowest_score)
print(f"The lowest score is {lowest_score} and it appears {count_of_lowest} times.")

The lowest score is 45 and it appears 2 times.

In [7]:
# iii. Reverse the tuple and return as a list
reversed_tuple = list(scores[::-1])
print(f"The reversed tuple as a list is: {reversed_tuple}")

The reversed tuple as a list is: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [8]:
# iv. Check if a specific score is present and return its index
user_score = float(input("Enter a score to check: "))
if user_score in scores:
    index_of_score = scores.index(user_score)
    print(f"The score {user_score} is present at index {index_of_score}.")
else:
    print(f"The score {user_score} is not present in the tuple.")

Enter a score to check: 58
The score 58.0 is present at index 6.

In [9]:
# 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
# i. All odd numbers
# ii. All even numbers
# iii. All prime numbers
import random
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
random_numbers = [random.randint(100, 900) for _ in range(100)]
odd_numbers = []
even_numbers = []
prime_numbers = []
for num in random_numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

    if is_prime(num):
        prime_numbers.append(num)
print(f"All odd numbers: {odd_numbers}")
print(f"Total odd numbers: {len(odd_numbers)}")

print(f"All even numbers: {even_numbers}")
print(f"Total even numbers: {len(even_numbers)}")

print(f"All prime numbers: {prime_numbers}")
print(f"Total prime numbers: {len(prime_numbers)}")

All odd numbers: [125, 201, 693, 391, 537, 617, 637, 649, 559, 709, 351, 879, 463, 833, 153, 779, 671, 467, 231, 715, 551, 863, 301, 153, 345, 677, 545, 755, 197, 609, 705, 667, 435, 377, 105, 513, 805, 717, 607, 237, 341, 763, 623, 357, 405, 557, 859, 155]
Total odd numbers: 48
All even numbers: [488, 504, 600, 716, 424, 658, 144, 684, 234, 888, 102, 462, 396, 838, 508, 836, 180, 836, 312, 328, 712, 700, 214, 846, 748, 284, 342, 842, 426, 204, 596, 298, 128, 150, 782, 338, 192, 244, 416, 244, 740, 636, 544, 268, 556, 410, 188, 398, 164, 236, 136, 628]
Total even numbers: 52
All prime numbers: [617, 709, 463, 467, 863, 677, 197, 607, 557, 859]
Total prime numbers: 10

In [10]:
# 4. Consider the following two sets, A and B, represenƟng scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
# WAP to perform the following operaƟons using set funcƟons:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
# i. Find the unique scores achieved by both teams (union of sets)
union_of_sets = A | B
print(f"Union of sets (unique scores): {union_of_sets}")

# ii. Identify the scores that are common to both teams (intersection of sets)
intersection_of_sets = A & B
print(f"Intersection of sets (common scores): {intersection_of_sets}")

# iii. Find the scores that are exclusive to each team (symmetric difference)
symmetric_difference = A ^ B
print(f"Symmetric difference (exclusive scores): {symmetric_difference}")

# iv. Check if the scores of team A are a subset of team B,
# and if team B's scores are a superset of team A.
is_A_subset_of_B = A.issubset(B)
is_B_superset_of_A = B.issuperset(A)

print(f"Is A a subset of B? {is_A_subset_of_B}")
print(f"Is B a superset of A? {is_B_superset_of_A}")

# v. Remove a specific score X (input by the user) from set A if it exists
user_input = int(input("Enter a score to remove from set A: "))

if user_input in A:
    A.remove(user_input)
    print(f"Score {user_input} removed from set A.")
else:
    print(f"Score {user_input} is not present in set A.")

Union of sets (unique scores): {34, 45, 78, 23, 56, 90}
Intersection of sets (common scores): {90, 78}
Symmetric difference (exclusive scores): {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter a score to remove from set A: 45
Score 45 is not present in set A.

In [11]:
# 5. Write a program to rename a key city to a location in the following dictionary.
my_dict = {
    "name": 'kelly',
    "age":25,
    "city": "New York",
    "salary": 8000,
}
if 'city' in my_dict:
    my_dict['location'] = my_dict.pop('city')
print(my_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}